html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-Direction: column;
  align-items: center;
  justify-content: center;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.english {
  font-size: 48px;
  color: #848282;
}

.english a {
  text-decoration: inherit;
  color: inherit;
}

.input-field {
  font-size: 40px;
  text-align: center;
  font-weight: 200;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px;
  border-radius: 15px;
  border-width: 1px;
  width: 75vw;
  outline: none;
  box-sizing: border-box;
  border-color: #8b8b8b;
  color: #8b8b8b;
  transition: backgroundColor .1s;
}

.input-field:focus {
  border: 1px solid #444;
}


.button-row {
  width: 75vw;
  display: flex;
  justify-content: flex-start;
  height: 50px;
}

.button {
  height: 30px;
  background-color: white;
  border: 1px solid #cbc7c7;
  border-radius: 5px;
  color: #949494;
  outline: none;
}

.ml {
  margin-left: 10px;
}

.spacer {
  flex-grow: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator-row {
  width: 75vw;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
}

.solution-indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0px 5px;
}

.info {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 26px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info p {
  margin: 0;
  margin-bottom: 10px;
  color: #848282;
}

.pointer {
  cursor: pointer
}